* {
    box-sizing: border-box;
}
body {
    background-color: rgb(38, 146, 150);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
#mainSection {
    text-align: center;
    margin: auto;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}
#id_resultado {
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}


@media (max-width: 290px) {
    #mainSection {
        text-align: center;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        width: 270px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    }
    #id_resultado {
        text-align: center;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        width: 270px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    }
}
@media screen and (max-width: 650px) {
    #mainSection {
        text-align: center;
        margin: auto;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        width: 300px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    }
    #id_resultado {
        text-align: center;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        width: 300px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    }
}